*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    background: url(pics.avif);
    background-size: cover;
    height: 100vh;
    background-position: center;
}
header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(134, 115, 115, 0.5);
}
#chk1{
    display: none;
     
     
}
i{
    color: #fff;
    cursor: pointer;
}
header .logo{
    flex: 1;
    color:#fff;
     
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
}
header .search-box{
    flex: 1;
    position: relative;
}
.search-box input{
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#f2f2f2;
    border-radius: 30px;
    color:gray;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
     
}
 
.search-box button{
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    background: rgb(123, 124, 123);
    color: #fff;
}
header ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color:#f1efef;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid rgb(49, 181, 185);
}
header .menu{
    font-size: 2.5em;
    display: none;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    .content{
        width: 1200px;
        height: auto;
        margin: auto;
        color: #fff;
        position: relative;
    }
    
    .content .par{
        padding-left: 20px;
        padding-bottom: 25px;
        font-family: Arial;
        letter-spacing: 1.2px;
        line-height: 80px;
    }
    
    .content h1{
        font-family: 'Times New Roman';
        font-size: 50px;
        padding-left: 20px;
        margin-top: 9%;
        letter-spacing: 2px;
    }
    
    .content .cn{
        width: 160px;
        height: 40px;
        background: #ff7200;
        border: none;
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;
        transition: .4s ease;
        
    }
    
    .content .cn a{
        text-decoration: none;
        color: #000;
        transition: .3s ease;
    }
    
    .cn:hover{
        background-color: #fff;
    }
    
    .content span{
        color: #ff7200;
        font-size: 65px
    }
    .form{
      width: 250px;
      height: 380px;
      background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
      position: absolute;
      top: -20px;
      left: 870px;
      transform: translate(0%,-5%);
      border-radius: 10px;
      padding: 25px;
  }
  
  .form h2{
      width: 220px;
      font-family: sans-serif;
      text-align: center;
      color: #ff7200;
      font-size: 22px;
      background-color: #fff;
      border-radius: 10px;
      margin: 2px;
      padding: 8px;
  }
  
  .form input{
      width: 240px;
      height: 35px;
      background: transparent;
      border-bottom: 1px solid #ff7200;
      border-top: none;
      border-right: none;
      border-left: none;
      color: #fff;
      font-size: 15px;
      letter-spacing: 1px;
      margin-top: 30px;
      font-family: sans-serif;
  }
  
  .form input:focus{
      outline: none;
  }
  
  ::placeholder{
      color: #fff;
      font-family: Arial;
  }
  
  .btnn{
      width: 240px;
      height: 40px;
      background: #0882bb;
      border: none;
      margin-top: 30px;
      font-size: 18px;
      border-radius: 10px;
      cursor: pointer;
      color: #fff;
      transition: 0.4s ease;
  }
  .btnn:hover{
      background: #fff;
      color: #72088d;
  }
  .btnn a{
      text-decoration: none;
      color: #000;
      font-weight: bold;
  }
  .form .link{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 17px;
      padding-top: 20px;
      text-align: center;
  }
  .form .link a{
      text-decoration: none;
      color: #6220ce;
  }
  .liw{
      padding-top: 15px;
      padding-bottom: 10px;
      text-align: center;
  }
  .icons a{
      text-decoration: none;
      color: #fff;
  }
  .icons ion-icon{
      color: #fff;
      font-size: 30px;
      padding-left: 14px;
      padding-top: 5px;
      transition: 0.3s ease;
  }
  .icons ion-icon:hover{
      color: #13d32c;
  }
     
         
  }   